node_modules/
dist/
output/
apps/quiz-portugues/*.js
apps/quiz-portugues/style.css
apps/quiz-portugues/index.html
apps/trilha-das-habilidades/*.js
apps/trilha-das-habilidades/style.css
apps/trilha-das-habilidades/index.html
